{% extends 'promotion/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid" style="margin-top:90px;">
    <div class="row">
        <div class="col-sm-7">
             {% if messages %}
               <div class="card card-body">
                 {% for message in messages %}

                              <div class="alert alert-success left-icon-alert" role="alert">
                                {{message}}  <a href="{% url 'home' %}">back to home</a></h2>
                               </div>
                    {% endfor %}
                  </div>
            {% endif %}
             <div class="card card-body">
               <form action="" class="form-group" method="post">
                 {% csrf_token %}
                   <h3>Change Password</h3><br><br>
                   {{form|crispy}}
                 <button class="btn btn-info" type="submit">Save changes</button>
             </form>
             </div>
        </div>
    </div>
</div>
{% endblock content %}