{% extends 'promotion/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="row">
<div class="container-fluid" style="margin-top:90px;">
 <div class="col-md-6">
     <div class="row card">
        <div class="card-body">
             <center>
                 <h3><kbd>Other types of promotion</kbd></h3></center>
           {% if messages %}
             {% for message in messages %}
              <div class="alert alert-success left-icon-alert" role="alert">
               <strong>Well done!</strong>
                {{message}}
               </div>
                {% endfor %}
            {% endif %}
         <form action="" method="post" enctype="multipart/form-data">
              {% csrf_token %}
                  <div class="card-body">
                      {{form|crispy}}<br>
                      <button type="submit" name="btn_submit" class="btn btn-info">Send Request</button>
                  </div>
          </form>
       </div>
 </div>
</div>
</div>
</div>
 {% endblock content %}
