{% extends 'promotion/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="container-fluid" style="margin-top:90px;">
    <div class=" col-md-12">
        <div class="card col-sm-6">
             {% if messages %}
                         {% for message in messages %}
                                <p style="background:green;color:white" class="alert alert-success">
                                       <strong>Done!</strong>
                                        {{message}}  <a href="{% url 'home' %}" class="btn btn-info">back to home</a></h2>
                                   </p>
                            {% endfor %}
            {% endif %}
            <center><h4>Put your idea below</h4></center>
            <p>We'd love your feedback!</p>
               <form action="{% url 'suggestion' %}" class="form-group" method="post">
                 {% csrf_token %}
                     {{form|crispy}}
                 <button class="btn btn-info" type="submit">Send</button>
             </form>
        </div>
    </div>
</div>
{% endblock content %}