{% extends 'promotion/base.html' %}
{% load static %}
{% block content %}
<div class="col-md" style="margin-top:80px;">
                    <div class="" style="background:#e2e2e2">
                         <center> <h4 style="background:#448899;color:white;padding:5px;">Advertising type of promotion Request</h4><hr>
                         </center>
                          <table class="table table-striped table-bordered table-responsive">
                              <tr>
                                  <th>Owner</th>
                                  <th>Business Name</th>
                                  <th>Address</th>
                                  <th>Date</th>
                                  <th>Status</th>
                                  <th>Action</th>
                              </tr>
                              {% for order in advert %}
                                <tr>
                                    <td>{{order.ad_owner}}</td>
                                    <td>{{order.business_name}}</td>
                                    <td>{{order.address}}</td>
                                    <td>{{order.date_posted|date:"F d, Y"}}</td>
                                    <td style="color:blue"> <a  href="{% url 'approve2' order.id%}" type="submit"><b>{{order.status}}</b></a></td>
                                     <td>
                                         <a class="btn btn-sm btn-info" href="" style="background:#448899;color:white;">Detail</a>

                                </tr>
                              {% endfor %}

                          </table>
                        <p><b>{{advert.count}} results found</b></p>
                    </div>

            </div>
{% endblock content  %}